<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SU-002 - Boralesgamuwa - Saloon"
					useFullscreenExpand="true"
		>
			<image imageURL="images/20180226_103503.jpg" thumbURL="thumbs/20180226_103503.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103501.jpg" thumbURL="thumbs/20180226_103501.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103452.jpg" thumbURL="thumbs/20180226_103452.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103446.jpg" thumbURL="thumbs/20180226_103446.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103436.jpg" thumbURL="thumbs/20180226_103436.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103427.jpg" thumbURL="thumbs/20180226_103427.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103421.jpg" thumbURL="thumbs/20180226_103421.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180226_103418.jpg" thumbURL="thumbs/20180226_103418.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0008.jpg" thumbURL="thumbs/IMG-20171102-WA0008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0007.jpg" thumbURL="thumbs/IMG-20171102-WA0007.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0004.jpg" thumbURL="thumbs/IMG-20171102-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0003.jpg" thumbURL="thumbs/IMG-20171102-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0002.jpg" thumbURL="thumbs/IMG-20171102-WA0002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0001.jpg" thumbURL="thumbs/IMG-20171102-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171102-WA0000.jpg" thumbURL="thumbs/IMG-20171102-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171026-WA0003.jpg" thumbURL="thumbs/IMG-20171026-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171026-WA0002.jpg" thumbURL="thumbs/IMG-20171026-WA0002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171026-WA0001.jpg" thumbURL="thumbs/IMG-20171026-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171026-WA0000.jpg" thumbURL="thumbs/IMG-20171026-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171024-WA0005.jpg" thumbURL="thumbs/IMG-20171024-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171024-WA0004.jpg" thumbURL="thumbs/IMG-20171024-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171024-WA0003.jpg" thumbURL="thumbs/IMG-20171024-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0015.jpg" thumbURL="thumbs/IMG-20171023-WA0015.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0012.jpg" thumbURL="thumbs/IMG-20171023-WA0012.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0005.jpg" thumbURL="thumbs/IMG-20171023-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0004.jpg" thumbURL="thumbs/IMG-20171023-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0001.jpg" thumbURL="thumbs/IMG-20171023-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171023-WA0000.jpg" thumbURL="thumbs/IMG-20171023-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
