<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SU-001 - Boralesgamuwa - Mr.Samath"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20180103-WA0024.jpg" thumbURL="thumbs/IMG-20180103-WA0024.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180103-WA0022.jpg" thumbURL="thumbs/IMG-20180103-WA0022.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180103-WA0020.jpg" thumbURL="thumbs/IMG-20180103-WA0020.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180103-WA0019.jpg" thumbURL="thumbs/IMG-20180103-WA0019.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180103-WA0018.jpg" thumbURL="thumbs/IMG-20180103-WA0018.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180103-WA0001.jpg" thumbURL="thumbs/IMG-20180103-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171228-WA0016.jpg" thumbURL="thumbs/IMG-20171228-WA0016.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171228-WA0015.jpg" thumbURL="thumbs/IMG-20171228-WA0015.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171228-WA0012.jpg" thumbURL="thumbs/IMG-20171228-WA0012.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171228-WA0011.jpg" thumbURL="thumbs/IMG-20171228-WA0011.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171228-WA0008.jpg" thumbURL="thumbs/IMG-20171228-WA0008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
