<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-019 - Kadawatha - Jogging Tracks Security Hut"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20180110-WA0008.jpg" thumbURL="thumbs/IMG-20180110-WA0008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180110-WA0007.jpg" thumbURL="thumbs/IMG-20180110-WA0007.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180110-WA0006.jpg" thumbURL="thumbs/IMG-20180110-WA0006.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180110-WA0005.jpg" thumbURL="thumbs/IMG-20180110-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171018-WA0001.jpg" thumbURL="thumbs/IMG-20171018-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
