<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-022 - Pepiliyana - Specta Solutions Office Building"
					useFullscreenExpand="true"
		>
			<image imageURL="images/01_Photo_-_5.jpg" thumbURL="thumbs/01_Photo_-_5.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/01_Photo_-_4.jpg" thumbURL="thumbs/01_Photo_-_4.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/01_Photo_-_3.jpg" thumbURL="thumbs/01_Photo_-_3.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/01_Photo_-_2.jpg" thumbURL="thumbs/01_Photo_-_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/01_Photo_-_1.jpg" thumbURL="thumbs/01_Photo_-_1.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
