<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-023 - Kirulapone - Mr.Wiraj Rajapakshe"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20200107-WA0011.jpg" thumbURL="thumbs/IMG-20200107-WA0011.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0001.jpg" thumbURL="thumbs/IMG-20200107-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/WhatsApp_Image_2020-01-07_at_8.01.45_AM.jpg" thumbURL="thumbs/WhatsApp_Image_2020-01-07_at_8.01.45_AM.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/WhatsApp_Image_2020-01-07_at_8.01.45_AM_1_.jpg" thumbURL="thumbs/WhatsApp_Image_2020-01-07_at_8.01.45_AM_1_.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0010.jpg" thumbURL="thumbs/IMG-20200107-WA0010.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0009.jpg" thumbURL="thumbs/IMG-20200107-WA0009.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0008.jpg" thumbURL="thumbs/IMG-20200107-WA0008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0007.jpg" thumbURL="thumbs/IMG-20200107-WA0007.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0004.jpg" thumbURL="thumbs/IMG-20200107-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
			<image imageURL="images/IMG-20200107-WA0003.jpg" thumbURL="thumbs/IMG-20200107-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[PDF Creator]]></title>
			<caption><![CDATA[http://www.pdf-tools.com]]></caption>
		</image>
	</juiceboxgallery>
