<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-017 - Watareka - Edinborough Factory"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20170709-WA0003.jpg" thumbURL="thumbs/IMG-20170709-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170728-WA0006.jpg" thumbURL="thumbs/IMG-20170728-WA0006.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170728-WA0005.jpg" thumbURL="thumbs/IMG-20170728-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170728-WA0004.jpg" thumbURL="thumbs/IMG-20170728-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170728-WA0003.jpg" thumbURL="thumbs/IMG-20170728-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170716-WA0006.jpg" thumbURL="thumbs/IMG-20170716-WA0006.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170716-WA0003.jpg" thumbURL="thumbs/IMG-20170716-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170716-WA0002.jpg" thumbURL="thumbs/IMG-20170716-WA0002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170716-WA0000.jpg" thumbURL="thumbs/IMG-20170716-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170628-WA0023.jpg" thumbURL="thumbs/IMG-20170628-WA0023.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0005.jpg" thumbURL="thumbs/IMG-20170615-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0004.jpg" thumbURL="thumbs/IMG-20170615-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0003.jpg" thumbURL="thumbs/IMG-20170615-WA0003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0002.jpg" thumbURL="thumbs/IMG-20170615-WA0002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0001.jpg" thumbURL="thumbs/IMG-20170615-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170615-WA0000.jpg" thumbURL="thumbs/IMG-20170615-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170608-WA0001.jpg" thumbURL="thumbs/IMG-20170608-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170608-WA0000.jpg" thumbURL="thumbs/IMG-20170608-WA0000.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170605-WA0001.jpg" thumbURL="thumbs/IMG-20170605-WA0001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170531-WA0005.jpg" thumbURL="thumbs/IMG-20170531-WA0005.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20170531-WA0004.jpg" thumbURL="thumbs/IMG-20170531-WA0004.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
