<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-009 - Thalawathugoda - Mr.Chandrarathne"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20171227-WA0014.jpg" thumbURL="thumbs/IMG-20171227-WA0014.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0029.jpg" thumbURL="thumbs/IMG-20180104-WA0029.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0037.jpg" thumbURL="thumbs/IMG-20180104-WA0037.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0036.jpg" thumbURL="thumbs/IMG-20180104-WA0036.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0034.jpg" thumbURL="thumbs/IMG-20180104-WA0034.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0030.jpg" thumbURL="thumbs/IMG-20180104-WA0030.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171227-WA0016.jpg" thumbURL="thumbs/IMG-20171227-WA0016.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20171227-WA0015.jpg" thumbURL="thumbs/IMG-20171227-WA0015.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
