<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SU-003 - Kotte - Waters Edge Timber Deck"
					useFullscreenExpand="true"
		>
			<image imageURL="images/20180301_175724.jpg" thumbURL="thumbs/20180301_175724.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180301_180142.jpg" thumbURL="thumbs/20180301_180142.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180301_180033.jpg" thumbURL="thumbs/20180301_180033.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180206_154312.jpg" thumbURL="thumbs/20180206_154312.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20180206_154258.jpg" thumbURL="thumbs/20180206_154258.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/20171211_112107.jpg" thumbURL="thumbs/20171211_112107.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
