<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="SH-004 - Wellawatte - Mr. Kushan"
					useFullscreenExpand="true"
		>
			<image imageURL="images/IMG-20180104-WA0019.jpg" thumbURL="thumbs/IMG-20180104-WA0019.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0021.jpg" thumbURL="thumbs/IMG-20180104-WA0021.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0020.jpg" thumbURL="thumbs/IMG-20180104-WA0020.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0017.jpg" thumbURL="thumbs/IMG-20180104-WA0017.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0016.jpg" thumbURL="thumbs/IMG-20180104-WA0016.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0015.jpg" thumbURL="thumbs/IMG-20180104-WA0015.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0014.jpg" thumbURL="thumbs/IMG-20180104-WA0014.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0013.jpg" thumbURL="thumbs/IMG-20180104-WA0013.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0012.jpg" thumbURL="thumbs/IMG-20180104-WA0012.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0011.jpg" thumbURL="thumbs/IMG-20180104-WA0011.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0010.jpg" thumbURL="thumbs/IMG-20180104-WA0010.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0009.jpg" thumbURL="thumbs/IMG-20180104-WA0009.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG-20180104-WA0008.jpg" thumbURL="thumbs/IMG-20180104-WA0008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
